body {
    /*background-image: url("/static/map.png");*/
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    overflow-x: hidden;
    width:100%;
}

li{
    list-style-type: none;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

a:link {
    color: black;
}
a:hover{
    color: rgb(255, 165, 0);
}
a:visited{
    color:black;
}

.center{
    text-align: center;
}
.small{
    font-size: 90%;
}
.right{
    float:right;
}
.left{
    float:left;
}
.border{
    border:1px dashed;
}

.header{
    width:100%;
    background: orange;
    border: 1px dashed;
    height:30px;
    padding:30px 10px 50px 10px;
    vertical-align: middle;
}

.header>.title{
    font-size: 130%;
    font-weight: bolder;
}

.header>.username{
    padding:10px;
}
.header>.logout{
    font-size: 90%;
}
.header>a{
    padding: 10px;
}

#container{
    margin-top: 100px;
    width:100%;
}

.post{
    text-align: left;
    width: 800px;
    background-color: white;
    margin: 0 auto;
    margin-bottom: 50px;
    padding:10px;
    padding-bottom:20px;
    padding-top: 20px;
    margin-bottom: -20px;
}

.post>div>a>.title{
    text-align: left;
    font-weight: bolder;
    font-size: 150%;
    padding: 20px;
    /*border: 1px dashed;*/
}

.post_page{
    margin:0 auto;
    text-align: left;
    width:600px;
}
.post_page>.title{
    text-align: left;
    font-weight: bolder;
    font-size: 150%;
    padding: 20px;
    width:600px;
}

.comment{
    margin: 0 auto;
    text-align: center;
    width:500px;
    padding:25px;
}

.comment>.comment_list{
    text-align: left;
    margin-top:50px;
}

#Add_form,#login_form{
    margin: 0 auto;
    text-align: center;
    width:510px;
    border:5px solid rgba(255, 165, 0, 0.4);
    background: rgba(255, 165, 0, 0.37);
    border-radius: 10px;
    padding: 12px 50px 0px 50px;
}

.add_form {
    /*margin: 0 auto;*/
    margin-bottom: 0;
    text-align: center;
    width:800px;
    /*border:5px solid rgba(255, 165, 0, 0.4);*/
    background: rgba(255, 165, 0, 0.37);
    /*border-radius: 10px;*/
    padding: 12px 50px 0px 50px;
}

#add_btn{
    padding:15px;
}

#flag-icon {
    float: right;
}