{% extends "base.html" %}


{% block title %}Index{% endblock %}


{% block content %}

  <div id="Add_form">

      <form class="form-horizontal" enctype="multipart/form-data" action='/add' method='GET'>
          <div class="form-group">
            <input type="text" name='post_content' class="form-control" placeholder="Add a new post." >
            <input type="hidden" name='user_id' class="form-control" value="{{ g.user.get_id() }}">
          </div>

          <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
              <button type="submit" class="btn btn-primary">Add</button>
            </div>
          </div>

      </form>
  </div>
  <br><br>
  {% for i in arr %}
      <div class="post">
        <a href="/view/{{i.id}}">
          <p class="title">{{i.content}}</p>
        </a>
      </div>
  {%endfor%}


{% endblock %}
