{% extends "base.html" %}


{% block title %}Index{% endblock %}


{% block content %}

  {% if mode == 'update' %}
    <script type="text/javascript">
    //alert("yahoo");
    $(".post,.center,.publish").hide();

    //set form action to /edit
    //set form title
    //set form values
    //set form button text
    </script>
  {% endif %}

  <br><br>
  <h1 class="center">The Lonely Island</h1><br><br>
  <button class="btn btn-primary publish">Publish</button>

  {% for i in arr %}
      <div class="post">
        <a href="/view/{{i[0]}}">
          <p class="title">{{i[2]}}</p>
        </a>
        <p class="small user_name">posted by {{i[1]}}</p><br><br>
        
        <a class="small right alert" href="/edit?post_id={{i[0]}}&action=delete">_delete</a>
        <a class="small right" href="/edit?post_id={{i[0]}}&action=edit&post_title={{i[1]}}&post_url={{i[2]}}&image_url={{i[3]}}">comment_</a>
      </div>
  {%endfor%}

  <div id="form">
      <button id="add" class="btn btn-primary">+</button>
      <br><br><br>


      <form class="form-horizontal" enctype="multipart/form-data" action='/add' method='GET'>

          <h2 id="form_title">Add new Post</h2>
          <div class="form-group">
            <input type="text" name='post_text' class="form-control" placeholder="Type your heart out" >
          </div>

          <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
              <button type="submit" class="btn btn-primary">Add</button>
            </div>
          </div>

      </form>
  </div>

  <script type="text/javascript">
  var btn = $('#add');
  var form = $('form');
  btn.onClick = (function() {
    alert('Invalid');
  });
  </script>


{% endblock %}
