{% extends "base.html" %}


{% block title %}Index{% endblock %}


{% block content %}

  <form id="login_form" class="form-horizontal" enctype="multipart/form-data" action='/login' method='POST'>

          <h2 id="form_title">Please Login to continue</h2>
          <div class="form-group">
            <input type="text" name='user_name' class="form-control" placeholder="username">
            <input type="text" name='user_password' class="form-control" placeholder="password" >
          </div>
          <br>
          <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
              <button type="submit" class="btn btn-primary">Go</button>
            </div>
          </div>

      </form>

 


{% endblock %}
