{% extends "base.html" %}


{% block title %}Index{% endblock %}


{% block content %}

  {% if mode == 'update' %}
    <script type="text/javascript">
    //alert("yahoo");
    $(".post,.center,.publish").hide();

    //set form action to /edit
    //set form title
    //set form values
    //set form button text
    </script>
  {% endif %}

  <br><br>
  <h1 class="center">The Lonely Island</h1><br><br>
  
  <div class="post">
    <p class="title">{{post.content}}</p>
    <p class="small user_name">posted by }</p><br><br>
    
    <a class="small right alert" href="/edit?post_id={{post.id}}&action=delete">_delete</a>
    
  </div>

  {% for i in comments %}
      <div class="comment">
        <p class="text">{{i.content}}</p>        
      </div>
  {%endfor%}

  <form class="form-horizontal" enctype="multipart/form-data" action='/add_comment' method='GET'>

          <h2 id="form_title">Add Comment</h2>
          <div class="form-group">
            <input type="text" name='comment' class="form-control" placeholder="Type your heart out" >
            <input type="hidden" name='user_id' class="form-control" value="foo_user" >
            <input type="hidden" name='post_id' class="form-control" value="{{post.id}}" >
          </div>

          <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
              <button type="submit" class="btn btn-primary">Add</button>
            </div>
          </div>

      </form>

 


{% endblock %}
